<div class="row chat-room">
  <div class="col-sm-12 col-md-2 chat-sidebar p-0">
    <h1 class="text-center">Connected users</h1>
    <ul class="p-0 mt-3">
      <li *ngFor="let item of connectedClients; let idx = index;">
        <div class="pl-2 pt-2 connected-users">
          <h2>{{idx + 1}}. {{ item.username }}</h2>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-10 chat-box">
    <ul class="chat">
      <li class="{{getMessageClass(item.sentBy)}}" *ngFor="let item of currentMessages;">
        <div class="message">
          <h2><b>{{ item.sentBy }}</b></h2>
          <br>
          {{ item.message }}
          <br>
          <h3>{{ item.sentOn | date:'MM/dd/yyyy HH:mm:ss' }}</h3>
        </div>
      </li>
    </ul>
    <div class="chat-footer row d-flex align-items-center justify-content-center text-center">
      <div class="col-11">
        <textarea class="form-control" rows="1" placeholder="Write a message. You can call the bot by typing /stock=[stockCode]. Example: /stock=appl.us"
                  [formControl]="message" (keyup.enter)="send()"></textarea>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-dark font-weight-bold w-100" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>
